<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kshitija Portfolio</title>
	<meta name="description" />
	<meta name="keywords"
		content="blog, business card, creative, creative portfolio, cv theme, online resume, personal, portfolio, professional cv, responsive portfolio, resume, resume theme, vcard" />
	<meta name="author" content="beingeorge" />
	<meta name="theme-color" content="#2a2d35">
	<link rel="icon" href="assets/images/favicon.png" type="image/npg" sizes="16x16">

	<!-- CSS -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/animate.min.css" />

	<link rel="stylesheet" type="text/css" href="assets/css/photoswipe.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/default-skin.min.css" />

	<!-- Template style Css -->
	<link href="assets/css/portfolio.css" rel="stylesheet">

	<!-- Custom style Css -->
	<link href="assets/css/custom.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar">

	<!-- START: Preloader -->
	<div id="preloader" class="preloader">
		<div class="spinner-grow text-dark" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<!-- END: Preloader -->

	<div id="app" class="page-wrapper">
		
		<nav class="navbar navbar-expand-lg navbar-custom navbar-light fixed-top">
			<div class="container">

				<a class="navbar-brand  mr-auto " href="index.html">{{name}}
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
					aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
					<svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="60">
						<path class="line top"
							d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40">
						</path>
						<path class="line middle" d="m 30,50 h 40"></path>
						<path class="line bottom"
							d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40">
						</path>
					</svg>
				</button>

				<div class="collapse navbar-collapse" id="navbarToggler">
					<ul class="navbar-nav ml-auto">
						<li><a class="nav-link active" href="#home">home</a></li>
						<li><a class="nav-link" href="#about">about</a></li>
						<li><a class="nav-link" href="#work">Works</a></li>
						<li><a class="nav-link" href="#resume">Resume</a></li>
						<!-- <li><a class="nav-link" href="#blog">Blog</a></li> -->
					</ul>
				</div>
			</div>
		</nav>

		<!-- START: HOME -->
		<section class="section-home " id="home">
			<div class="overlay d-flex justify-content-center align-items-center">
				<div class="overlay-wrap container text-left">
					<span class="hello mb-4">Hello,</span>
					<h1 class="mb-5">I'm, <span class="typed"
							:data-elements="titles"></span>
					</h1>
					<a target="_blank" :href="resume_link" class="btn" download>Download
						CV</a>
				</div>
			</div>
		</section>
		<!-- END: HOME -->

		<!-- START: ABOUT -->
		<section class="section section-about" id="about">
			<div class="container">
				<div class="row justify-content-center align-items-center">

					<div class="col-md-6">
						<div class="section-about--img wow fadeInUp">
							<img class="img-fluid mx-auto d-block" :src="about_img" alt="About Picture">
						</div>
					</div>

					<div class="col-md-6">
						<div class="about-desc">
							<div class="about-desc-content text-left">
								<h2>About Me</h2>
								<p class="mt-4 font-weight-light">{{about_para}}</p>
							</div>

							<ul class="about-desc-social text-left my-4 list-unstyled list-inline">
								<li class="list-inline-item"><a class="hover-state"
										:href="github_link" target="_BLANK"><i
											class="fab fa-github"></i></a></li>
								<li class="list-inline-item"><a class="hover-state"
										:href="linkedin_link" target="_BLANK"><i
											class="fab fa-linkedin-in"></i></a></li>
							</ul>

							<div class="about-desc-more text-left">
								<div class="row">
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>Age : </b>
											<span>{{age}}</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>Location : </b>
											<span>{{location}}</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>Degree : </b>
											<span>{{degree}}</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>Phone : </b>
											<a :href="phone">{{phone}}</a>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>E-Mail : </b>
											<a :href="email">{{email}}</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: ABOUT -->

		<!--START: WORK -->
		<section class="section section-light section-work" id="work">
			<div class="container">
				<div class="section-head text-center">
					<span>Portfolio</span>
					<h2>My Works</h2>
				</div>

				<ul id="filter" class="filter mb-5">
					<!-- <li class="active" data-group="all">All</li>
					<li class="" data-group="slideshow">Slideshow</li>
					<li class="" data-group="video">Video</li>
					<li class="" data-group="image">Image</li>
				</ul> -->
			</div>

			<div class="container">
				<div class="list-items-container row my-gallery">

					<figure class="col-sm-6 col-md-4 list-item mb-4 mb-md-5" itemprop="associatedMedia" data-groups="all slideshow" >
						<a :href="projects[0].project_image" itemprop="contentUrl" data-size="1024x1024">
							<img :src="projects[0].project_image" itemprop="thumbnail" alt="Image description" />
						</a>
						<figcaption itemprop="caption description">
							<div class="caption-inner">
								<h4 class="portfolio-item-title mt-3 mb-2">{{projects[0].project_title}}</h4>
								<div class="portfolio-item-desc">{{projects[0].project_description}} <a :href="projects[0].project_href" target="_BLANK">View live demo</a></div>
							</div>
						</figcaption>
					</figure>

					<figure class="col-sm-6 col-md-4 list-item mb-4 mb-md-5" itemprop="associatedMedia" data-groups="all video" >
						<a :href="projects[1].project_image" itemprop="contentUrl" data-size="1024x1024">
							<img :src="projects[1].project_image" itemprop="thumbnail" alt="Image description" />
						</a>
						<figcaption itemprop="caption description">
							<div class="caption-inner">
								<h4 class="portfolio-item-title mt-3 mb-2">{{projects[1].project_title}}</h4>
								<div class="portfolio-item-desc">{{projects[1].project_description}} <a :href="projects[1].project_href" target="_BLANK">View live demo</a></div>
							</div>
						</figcaption>
					</figure>

					<figure class="col-sm-6 col-md-4 list-item mb-4 mb-md-5" itemprop="associatedMedia" data-groups="all slideshow" >
						<a :href="projects[2].project_image" itemprop="contentUrl" data-size="1024x1024">
							<img :src="projects[2].project_image" itemprop="thumbnail" alt="Image description" />
						</a>
						<figcaption itemprop="caption description">
							<div class="caption-inner">
								<h4 class="portfolio-item-title mt-3 mb-2">{{projects[2].project_title}}</h4>
								<div class="portfolio-item-desc">{{projects[2].project_description}} <a :href="projects[2].project_href" target="_BLANK">View live demo</a></div>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="list-items-container row my-gallery">
					<figure class="col-sm-6 col-md-4 list-item mb-4 mb-md-5" itemprop="associatedMedia" data-groups="all slideshow" >
						<a :href="projects[3].project_image" itemprop="contentUrl" data-size="1024x1024">
							<img :src="projects[3].project_image" itemprop="thumbnail" alt="Image description" />
						</a>
						<figcaption itemprop="caption description">
							<div class="caption-inner">
								<h4 class="portfolio-item-title mt-3 mb-2">{{projects[3].project_title}}</h4>
								<div class="portfolio-item-desc">{{projects[3].project_description}} <a :href="projects[3].project_href" target="_BLANK">View live demo</a></div>
							</div>
						</figcaption>
					</figure>

				</div>
			</div>
		</section>
		<!--END: WORK -->


		<!-- START: RESUME -->
		<section class="section section-light section-resume" id="resume">
			<div class="container">

				<div class="section-head">
					<span>My Resume</span>
					<h2>My Expertises</h2>
				</div>

				<div class="section-inner">
					<div class="section-resume-wrap">
						<div class="section-education">
							<div class="row">
								<div class="col-lg-3">
									<h5 class="section-subHead mb-4"> My Education</h5>
								</div>

								<div class="col-lg-9">
									<div class="EducationList">
										<div class="row">
											<div v-for="degree in education" class="col-md-6">
												<div class="resume-list b-box p-4 mb-4 ">
													<div> 
														<h5>{{degree.education_title}}</h5>
														<h6 class="badge badge-danger d-inline-block my-3">{{degree.education_duration}}
														</h6>
														<p>{{degree.education_description}}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="section-skills-wrap mt-5">
							<div class="row">
								<div class="col-lg-3">
									<h5 class="section-subHead mb-4"> My Skills</h5>
								</div>
								<div class="col-lg-9">
									<div class="row ">
										<div class="col-md-6">
											<h5 class="mt-4 mt-md-0 mb-4 pb-2 text-uppercase">Coding Skills</h5>

											<div class="resume-panel">
												<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s"
													style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;" v-for="c_skill in coding_skills">
													<h6>{{c_skill}}</h6>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="resume-panel mt-5 mt-md-0">
												<h5 class="mb-4 pb-2 text-uppercase">Hard Skills</h5>
												<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s"
													style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;" v-for="h_skill in hard_skills">
													<h6>{{h_skill}} </h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- END: RESUME -->

		<!-- START: CTA -->
		<section class="section  section-freelance section-light text-center ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-head wow fadeInUp" data-wow-duration="1.5s">
							<h2>Let's work together!</h2>
						</div>
						<div class="mt-5 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
							<a href="#about" class="btn btn-outline hover-state">Hire Me!</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: CTA -->

		<!-- START: BLOG -->
		<!-- <section class="section section-light section-blog" id="blog">
			<div class="container">
				<div class="section-head">
					<span>Blog</span>
					<h2>My Articles</h2>
				</div>
				<div class="mt-5">
					<div class="row">
						<div class="col-md-4 col-lg-4" v-for="blog in blogs">
							<a :href="blog.blog_link"
								target="_BLANK" class="blog-list b-box d-block wow fadeInUp" data-wow-duration="1.5s"
								data-wow-delay=".2s">
								<div class="blog-list--img">
									<img :src="blog.blog_img" alt="Blog Image"
										class="img-fluid">
									<div class="blog-list--details d-flex justify-content-center align-items-center">
										<div class="blog-list--details-in">
											<p class="blog-by mb-2">{{blog.blog_title}}</p>
											<span class="blog-duration text-white">2 Mins Read</span>
										</div>
									</div>
								</div>
								<div class="blog-list--desc p-3">
									<p>{{blog.blog_description}}</p>
									<span class="d-block mt-3 font-weight-bold blog-cat">{{blog.blog_type}}</span>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
		</section> -->
		<!-- END: BLOG -->

		<!--START: FOOTER-->
		<footer class="footer section section-light">
			<div class="container">
				<p class="copyright text-center mb-0">&copy; Kshitija 2020 | All Right Reserved</p>
			</div>
		</footer>
		<!--END: FOOTER-->
	</div>


	<!--START: Scroll to top-->
	<div class="scroll-up hover-state">
		<a id="scroll-up"><i class="fas fa-arrow-up"></i></a>
	</div>
	<!--END: Scroll to top-->

	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe. 
	         It's a separate element, as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

			<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
			<!-- don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<!--  Controls are self-explanatory. Order can be changed. -->
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
					<!-- element will get class pswp__preloader--active when preloader is running -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>


	<!-- Javascript files -->

	<script src="assets/js/jquery.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	

	<!-- Popper JS -->
	<script src="assets/bootstrap/js/popper.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>

	<script src="assets/js/swiper.min.js"></script>
	<script src="assets/js/wow.js"></script>
	<script src="assets/js/typed.js"></script>
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/jquery.parallax-1.1.3.js"></script>

	<!-- Popup Js -->
	<script src="assets/js/photoswipe.min.js"></script>
	<script src="assets/js/photoswipe-ui-default.min.js"></script>
	<script src="assets/js/pswp.js"></script>

	<!-- Portfolio Shuffler -->
	<script src="assets/js/imagesloaded.pkgd.js"></script>
	<script src="assets/js/jquery.shuffle.min.js"></script>
	<script src="assets/js/custom-shuffle-init.js"></script>

	<!-- Custom Js -->
	<script src="assets/js/custom.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<script>

		$.getJSON('assets/portfolio_data.json').then((jsonData)=>{
			new Vue({
				el: '#app',
				data:jsonData
			});
			if($('.typed').length) {
				var $this = $(".typed");
				$this.typed({
					strings: $this.attr('data-elements').split(','),
					typeSpeed: 100,
					backDelay: 3000
				});
			}
		})
		
		</script>
</body>

</html>