html
{
    box-sizing: border-box;
    height: 100%;
}
body 
{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;

}
*,*::before,*::after
{
    box-sizing: inherit;
}

.main 
{
    width: 100%;
    height: 100%;
}

.stage-1 
{
    border: 1px solid #000;
    width: 100%;
    height: 270px;
    animation: change 11s forwards;
}
@keyframes change 
{
    0% {
        background-color: darkorange;
    }

    40% {
        background-color: skyblue;
    }

    80% {
        background-color: crimson;
    }

    100% {
        background-color: #131341;
    }
}

.mountain 
{
    border-left: 145px solid transparent;
    border-right: 145px solid transparent;
    border-bottom: 250px solid;
    color: peru;
    margin-top: 19px;
    float: right;
}

.part2 
{
    transform: translateX(80px);
}

.part3 
{
    transform: translateX(200px);
}

.sun 
{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: red;
    animation:sun 10s forwards;
    position: absolute;

}

.stage-2 
{
    border: 1px solid #000;
    width: 100%;
    height: 400px;
    background-color: #69cd23;
    animation: stage 10s infinite;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.animated 
{
    animation: grow 5s infinite linear;
}

.housesquare 
{
    height: 175px;
    width: 230px;
    margin-top: 170px;
    background-color: brown;
    border: 7px solid white;
    float: right;
    margin-right: 140px;


}

.housetriangle 
{
    border-bottom: 100px solid brown;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 300px;
    float: right;
    margin-top: 70px;
    margin-right: -264px;

}

.h_window 
{
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 2px solid black;
    float: right;
    margin-top: 220px;
    margin-right: -120px;
    animation: light 5s forwards;
    animation-delay: 10s;
    border-radius: 4px;
}

.h_window1 
{
    margin-right: -220px;
}

@keyframes light 
{
    0% {
        background-color: #ddd;
        /* opacity: 0;  */
    }

    100% {
        background-color: gold;
        box-shadow: 2px 2px 11px gold;
        /* opacity: 1; */
    }
}

.flowers 
{
    position: absolute;
    margin-top: 200px;
}

.f_circle1 
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #CC0BA1;
    border: 7px solid #ec519f;
    margin-left: 115px;
    display: inline-block;
    position: absolute;
    animation: grow 3s infinite linear;
    z-index: 2;
}

.f_circle2 
{
    background-color: #d05005;
    border: 10px solid #f17218;
    margin-left: 147px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    animation: grow 4s infinite linear;
    position: absolute;
    display: inline-block;
    z-index: 2;
}

.f_circle3 
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: #c2bd12;
    border: 7px solid #f6cc07;
    margin-left: 183px;
    display: inline-block;
    z-index: 2;
    animation: grow 2s infinite linear;
}

.f_base 
{
    width: 5px;
    height: 100px;
    margin-left: 127px;
    display: block;
    background-color: saddlebrown;
    margin-top: 50px;
    position: absolute;
    margin-top: 20px;
    z-index: 1;
}

.f_base1 
{
    margin-left: 160px;
}

.f_base2 
{
    margin-left: 195px;
}

.leaf 
{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    transform: rotateY(140deg);
    background-color: teal;
    border-radius: 0 25px 0 25px;
    margin-left: 128px;
    margin-top: 40px;
    animation: grow_leaf 3s infinite linear;

}

.leaf1 
{

    transform: rotateY(-330deg);
    margin-left: 110px;
    animation: grow_leaf 3s infinite linear;

}

.leaf2 
{

    transform: rotateY(140deg);
    margin-left: 162px;
    animation: grow_leaf 4s infinite linear;
}

.leaf3 
{

    transform: rotateY(-330deg);
    margin-left: 142px;
    animation: grow_leaf 4s infinite linear;

}

.leaf4 
{

    transform: rotateY(140deg);
    margin-left: 196px;
    animation: grow_leaf 2s infinite linear;
}

.leaf5 
{

    transform: rotateY(-330deg);
    margin-left: 177px;
    animation: grow_leaf 2s infinite linear;
}

.pot-border 
{
    width: 130px;
    height: 20px;
    background-color: orange;
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;
    z-index: 3;
    border: 2px solid black;
}

.pot-base 
{
    width: 120px;
    height: 60px;
    background-color: orange;
    margin-left: 105px;

    margin-top: 120px;
    position: absolute;
    z-index: 3;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

@keyframes sun 
{
    0% {
        top: 352px;
        left: 1000px;
    }

    50% {
        top: 20px;
        left: 600px;
        background-color: yellow;
    }

    100% {
        top: 452px;
        left: 170px;
        background-color: orangered;

    }
}

@keyframes grow 
{
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0px;

    }
}

@keyframes grow_leaf 
{
    0% {
        margin-top: 40px;
    }

    50% {
        margin-top: 60px;
    }

    100% {
        margin-top: 40px;

    }

}

.wood1 
{
    height: 15px;
    width: 80px;
    background-color: #660b0b;
    float: right;
}

.wd1 
{
    margin-right: 235px;
    margin-top: 315px;
    transform: rotate(135deg);
}

.wd2 
{
    margin-right: -140px;
    margin-top: 310px;
    transform: rotate(-140deg);
}

.wd3 
{
    margin-right: -125px;
    margin-top: 325px;
    transform: rotate(57deg);
}

.wd4 
{
    margin-right: -100px;
    margin-top: 330px;
    transform: rotate(-80deg)
}

.fire 
{
    display: none;
    width: 40px;
    height: 95px;
    float: right;
    background-color: orange;
    border-radius: 60% 60% 40% 40%;
    box-shadow: 10px 10px 10px #ce770c;
    animation: scaleUpDown 4s infinite;
    margin-top: 200px;
    margin-right: -85px;
    background-image: linear-gradient(to bottom right, red, yellow);
}

.fire::before 
{
    content: " ";
    display: block;
    width: 40px;
    height: 75px;
    float: right;
    background-color: orange;
    border-radius: 60% 60% 40% 40%;
    box-shadow: 10px 10px 10px #ce770c;
    animation: scaleUpDown 5s infinite;
    position: absolute;
    margin-left: 28px;
    background-image: linear-gradient(to bottom right, red, yellow);
    margin-top: 35px;

}

.fire::after 
{
    content: " ";
    display: block;
    width: 40px;
    height: 75px;
    float: right;
    background-color: orange;
    border-radius: 60% 60% 40% 40%;
    box-shadow: 10px 10px 10px #ce770c;
    animation: scaleUpDown 3s infinite;
    margin-left: -19px;
    position: absolute;
    transform: rotate(60deg);
    background-image: linear-gradient(to bottom right, red, yellow);
    margin-top: 35px;

}

@keyframes scaleUpDown 
{

    0%,
    100% {
        transform: scaleY(1) scaleX(1);
    }

    50%,
    90% {
        transform: scaleY(1.1);
    }

    75% {
        transform: scaleY(0.95);
        border-radius: 50% 50% 50% 50%;
    }

    80% {
        transform: scaleX(0.95);
    }
}

.moon 
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    box-shadow: 5px 4px 6px #646161;

    animation: moon-animate 3s forwards;
    animation-delay: 8s;
}

@keyframes moon-animate
{
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(100px, -220px);
    }
}

.hide-animate 
{
    animation: hide-animate 1s linear forwards;
}

@keyframes hide-animate 
{
    0% {
        transform: translate(0, 0);
        opacity: 1;

    }

    100% {
        transform: translate(0px, 100px);
        opacity: 0;
    }
}

.show-animate 
{
    display: block;
}

@keyframes show-animate 
{
    0% {
        transform: translate(0, -20px);
        opacity: 0;

    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;

    }
}
/*
Reference:
In-class exercise
https://codepen.io/keshav929/pen/PpEVOv
*/